<% include partials/header %>
<!--
<style>
html { 
  background: url("/images/background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
-->
<div class="container-fluid">
  <div id="bg" class="background-image row">
    <h1 class="centered-element title">Spindo</h1>
    <a class="centered-element easy-btn center-base" href="/easy"><button id="easy" class="btn btn-primary btn-properties">easy</button></a>
    <a class="centered-element med-btn center-base" href="/medium"><button id="medium" class="btn btn-primary btn-properties">medium</button></a>
    <a class="centered-element hard-btn center-base" href="/hard"><button id="hard" class="btn btn-primary btn-properties">hard</button></a>
  </div>
</div>
<% include partials/footer %>